services:
  homepage:
    image: ghcr.io/benphelps/homepage
    container_name: homepage
    environment:
      PUID: "{@PUID@}"
      PGID: "{@PGID@}"
    volumes:
      - type: bind
        source: "{@LOGS_PATH@}/homepage"
        target: /app/config/logs
      - type: bind
        source: "{@DATA_PATH@}/homepage"
        target: /app/config
    networks:
      - homepage
      - watchtower
      - immich
      - photoprism
      - qbittorrent
      - radarr
      - sonarr
      - prowlarr
      - bazarr
      - jellyfin
      - jellyseerr
    labels:
      com.centurylinklabs.watchtower.enable: true
      traefik.enable: true
      traefik.http.routers.homepage.rule: Host(`{@DOMAIN@}`)
      traefik.http.routers.homepage.entrypoints: websecure
      traefik.http.routers.homepage.middlewares: authelia@file
    restart: unless-stopped

networks:
  homepage:
    name: homepage
  watchtower:
    name: watchtower
    external: true
  immich:
    name: immich
    external: true
  photoprism:
    name: photoprism
    external: true
  qbittorrent:
    name: qbittorrent
    external: true
  radarr:
    name: radarr
    external: true
  sonarr:
    name: sonarr
    external: true
  prowlarr:
    name: prowlarr
    external: true
  bazarr:
    name: bazarr
    external: true
  jellyfin:
    name: jellyfin
    external: true
  jellyseerr:
    name: jellyseerr
    external: true
