services:
  satisfactory-server:
    image: wolveix/satisfactory-server:latest
    container_name: satisfactory-server
    environment:
      PUID: "{@PUID@}"
      PGID: "{@PGID@}"
      STEAMBETA: false
      MAXPLAYERS: 8
    volumes:
      - type: bind
        source: "{@APP_DATA_PATH@}/satisfactory"
        target: /config
      - type: bind
        source: "{@USER_DATA_PATH@}/games/satisfactory"
        target: /config/saved
    networks:
      - satisfactory
    ports:
      - 7777:7777/udp
      - 15000:15000/udp
      - 15777:15777/udp
    restart: unless-stopped

networks:
  satisfactory:
    name: satisfactory
