services:
  qbittorrent:
    image: linuxserver/qbittorrent
    container_name: qbittorrent
    environment:
      TZ: "{@TZ@}"
      PUID: "{@PUID@}"
      PGID: "{@PGID@}"
      WEBUI_PORT: 8080
    volumes:
      - type: bind
        source: "{@DATA_PATH@}/qbittorrent"
        target: /config
      - type: bind
        source: "{@MEDIA_PATH@}"
        target: /data
    ports:
      #   - 8080:8080
      - 26881:6881
      - 26881:6881/udp
    networks:
      - streaming
    labels:
      com.centurylinklabs.watchtower.enable: true
      traefik.enable: true
      traefik.http.routers.qbittorrent.rule: Host(`qbittorrent.{@DOMAIN@}`)
      traefik.http.routers.qbittorrent.entryPoints: websecure
      traefik.http.routers.qbittorrent.middlewares: authelia@file
      traefik.http.services.qbittorrent.loadbalancer.server.port: 8080
    restart: unless-stopped

  radarr:
    image: linuxserver/radarr
    container_name: radarr
    environment:
      TZ: "{@TZ@}"
      PUID: "{@PUID@}"
      PGID: "{@PGID@}"
    volumes:
      - type: bind
        source: "{@LOGS_PATH@}/radarr"
        target: /config/logs
      - type: bind
        source: "{@DATA_PATH@}/radarr"
        target: /config
      - type: bind
        source: "{@MEDIA_PATH@}"
        target: /data
    # ports:
    #   - 7878:7878
    networks:
      - streaming
    labels:
      com.centurylinklabs.watchtower.enable: true
      traefik.enable: true
      traefik.http.routers.radarr.rule: Host(`radarr.{@DOMAIN@}`)
      traefik.http.routers.radarr.entryPoints: websecure
      traefik.http.routers.radarr.middlewares: authelia@file
    depends_on:
      - qbittorrent
    restart: unless-stopped

  sonarr:
    image: linuxserver/sonarr
    container_name: sonarr
    environment:
      TZ: "{@TZ@}"
      PUID: "{@PUID@}"
      PGID: "{@PGID@}"
    volumes:
      - type: bind
        source: "{@LOGS_PATH@}/sonarr"
        target: /config/logs
      - type: bind
        source: "{@DATA_PATH@}/sonarr"
        target: /config
      - type: bind
        source: "{@MEDIA_PATH@}"
        target: /data
    # ports:
    #   - 8989:8989
    networks:
      - streaming
    labels:
      com.centurylinklabs.watchtower.enable: true
      traefik.enable: true
      traefik.http.routers.sonarr.rule: Host(`sonarr.{@DOMAIN@}`)
      traefik.http.routers.sonarr.entryPoints: websecure
      traefik.http.routers.sonarr.middlewares: authelia@file
    depends_on:
      - qbittorrent
    restart: unless-stopped

  recyclarr:
    image: ghcr.io/recyclarr/recyclarr
    container_name: recyclarr
    user: "{@PUID@}:{@PGID@}"
    environment:
      TZ: "{@TZ@}"
      RECYCLARR_CREATE_CONFIG: true
    volumes:
      - type: bind
        source: "{@LOGS_PATH@}/recyclarr"
        target: /config/logs
      - type: bind
        source: "{@DATA_PATH@}/recyclarr"
        target: /config
    networks:
      - streaming
    labels:
      com.centurylinklabs.watchtower.enable: true
    restart: unless-stopped

  prowlarr:
    image: linuxserver/prowlarr
    container_name: prowlarr
    environment:
      TZ: "{@TZ@}"
      PUID: "{@PUID@}"
      PGID: "{@PGID@}"
    volumes:
      - type: bind
        source: "{@LOGS_PATH@}/prowlarr"
        target: /config/logs
      - type: bind
        source: "{@DATA_PATH@}/prowlarr"
        target: /config
    networks:
      - streaming
    labels:
      com.centurylinklabs.watchtower.enable: true
      traefik.enable: true
      traefik.http.routers.prowlarr.rule: Host(`prowlarr.{@DOMAIN@}`)
      traefik.http.routers.prowlarr.entryPoints: websecure
      traefik.http.routers.prowlarr.middlewares: authelia@file
    depends_on:
      - radarr
      - sonarr
      - readarr
    restart: unless-stopped

  bazarr:
    image: linuxserver/bazarr
    container_name: bazarr
    environment:
      TZ: "{@TZ@}"
      PUID: "{@PUID@}"
      PGID: "{@PGID@}"
    volumes:
      - type: bind
        source: "{@LOGS_PATH@}/bazarr"
        target: /config/log
      - type: bind
        source: "{@DATA_PATH@}/bazarr"
        target: /config
      - type: bind
        source: "{@MEDIA_PATH@}"
        target: /data
    # ports:
    #   - 6767:6767
    networks:
      - streaming
    labels:
      com.centurylinklabs.watchtower.enable: true
      traefik.enable: true
      traefik.http.routers.bazarr.rule: Host(`bazarr.{@DOMAIN@}`)
      traefik.http.routers.bazarr.entryPoints: websecure
      traefik.http.routers.bazarr.middlewares: authelia@file
    depends_on:
      - radarr
      - sonarr
    restart: unless-stopped

  jellyfin:
    image: linuxserver/jellyfin
    container_name: jellyfin
    environment:
      TZ: "{@TZ@}"
      PUID: "{@PUID@}"
      PGID: "{@PGID@}"
    devices:
      - /dev/dri:/dev/dri
    volumes:
      - type: bind
        source: "{@LOGS_PATH@}/jellyfin"
        target: /config/log
      - type: bind
        source: "{@DATA_PATH@}/jellyfin"
        target: /config
      - type: bind
        source: "{@MEDIA_PATH@}"
        target: /media
    ports:
      - 8096:8096
    networks:
      - streaming
    labels:
      com.centurylinklabs.watchtower.enable: true
      traefik.enable: true
      traefik.http.routers.jellyfin.rule: Host(`jellyfin.{@DOMAIN@}`)
      traefik.http.routers.jellyfin.entryPoints: websecure
    restart: unless-stopped

  jellyseerr:
    image: fallenbagel/jellyseerr
    container_name: jellyseerr
    environment:
      TZ: "{@TZ@}"
      LOG_LEVEL: debug
    volumes:
      - type: bind
        source: "{@LOGS_PATH@}/jellyseerr"
        target: /app/config/logs
      - type: bind
        source: "{@DATA_PATH@}/jellyseerr"
        target: /app/config
    # ports:
    #   - 5055:5055
    networks:
      - streaming
    labels:
      com.centurylinklabs.watchtower.enable: true
      traefik.enable: true
      traefik.http.routers.jellyseerr.rule: Host(`jellyseerr.{@DOMAIN@}`)
      traefik.http.routers.jellyseerr.entryPoints: websecure
    depends_on:
      - jellyfin
      - radarr
      - sonarr
    restart: unless-stopped

  readarr:
    image: lscr.io/linuxserver/readarr:develop
    container_name: readarr
    environment:
      TZ: "{@TZ@}"
      PUID: "{@PUID@}"
      PGID: "{@PGID@}"
    volumes:
      - type: bind
        source: "{@DATA_PATH@}/readarr"
        target: /config
      - type: bind
        source: "{@MEDIA_PATH@}"
        target: /data
    # ports:
    #   - 8787:8787
    networks:
      - streaming
    labels:
      com.centurylinklabs.watchtower.enable: true
      traefik.enable: true
      traefik.http.routers.readarr.rule: Host(`readarr.{@DOMAIN@}`)
      traefik.http.routers.readarr.entryPoints: websecure
      traefik.http.routers.readarr.middlewares: authelia@file
    depends_on:
      - qbittorrent
    restart: unless-stopped

  calibre-web:
    image: lscr.io/linuxserver/calibre-web:latest
    container_name: calibre-web
    environment:
      TZ: "{@TZ@}"
      PUID: "{@PUID@}"
      PGID: "{@PGID@}"
      DOCKER_MODS: linuxserver/mods:universal-calibre #optional
      OAUTHLIB_RELAX_TOKEN_SCOPE: 1 #optional
    volumes:
      - type: bind
        source: "{@DATA_PATH@}/calibre"
        target: /config
      - type: bind
        source: "{@MEDIA_PATH@}/calibre"
        target: /books
    # ports:
    #   - 8083:8083
    networks:
      - streaming
    labels:
      com.centurylinklabs.watchtower.enable: true
      traefik.enable: true
      traefik.http.routers.calibre.rule: Host(`calibre.{@DOMAIN@}`)
      traefik.http.routers.calibre.entryPoints: websecure
    restart: unless-stopped

networks:
  streaming:
    name: streaming
