version: "3.8"

services:
  # Traefik

  traefik:
    image: traefik:v2.10
    container_name: traefik
    environment:
      - DUCKDNS_TOKEN={@DUCKDNS_TOKEN@}
    ports:
      - 80:80
      - 443:443
      - 8080:8080
    volumes:
      - type: bind
        source: ./traefik/traefik.yml
        target: /traefik.yml
        read_only: true
      - type: bind
        source: ./traefik/config
        target: /config
        read_only: true
      - type: bind
        source: "{@DATA_PATH@}/traefik/letsencrypt"
        target: /letsencrypt
      - type: bind
        source: "{@LOGS_PATH@}/traefik"
        target: /logs
    depends_on:
      - docker-socket-proxy
      - authelia
    restart: unless-stopped

  docker-socket-proxy:
    image: tecnativa/docker-socket-proxy
    container_name: docker-socket-proxy
    environment:
      CONTAINERS: 1
      INFO: 1
      IMAGES: 1
      VOLUMES: 1
      NETWORKS: 1
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    restart: unless-stopped
  
  authelia:
    image: authelia/authelia
    container_name: authelia
    environment:
      TZ: "{@TIMEZONE@}"
    volumes:
      - type: bind
        source: ./authelia
        target: /config
        read_only: true
      - type: bind
        source: "{@DATA_PATH@}/authelia"
        target: /data
      - type: bind
        source: "{@LOGS_PATH@}/authelia"
        target: /logs
    labels:
      traefik.enable: true
      traefik.http.routers.authelia.rule: Host(`auth.{@DOMAIN@}`)
      traefik.http.routers.authelia.entryPoints: websecure
    depends_on:
      - authelia-redis
    restart: unless-stopped

  authelia-redis:
    image: redis:alpine
    container_name: authelia-redis
    volumes:
      - type: bind
        source: "{@DATA_PATH@}/authelia/redis"
        target: /data
    restart: unless-stopped

  whoami:
    image: traefik/whoami
    container_name: simple-service
    labels:
      traefik.enable: true
      traefik.http.routers.whoami.rule: Host(`{@DOMAIN@}`)
      traefik.http.routers.whoami.entrypoints: websecure
      traefik.http.routers.whoami.middlewares: authelia@file
    restart: unless-stopped


networks:
  default:
    name: reverse-proxy
