services:
  stirling-pdf:
    image: frooodle/s-pdf:latest
    container_name: stirling-pdf
    volumes:
      - type: bind
        source: "{@APP_DATA_PATH@}/stirling-pdf"
        target: /configs
    networks:
      - stirling-pdf
    labels:
      com.centurylinklabs.watchtower.enable: true
      traefik.enable: true
      traefik.http.routers.stirling-pdf.rule: Host(`pdf.{@DOMAIN@}`)
      traefik.http.routers.stirling-pdf.entryPoints: websecure
    restart: unless-stopped

networks:
  stirling-pdf:
    name: stirling-pdf
